.header {
  background-color: #fff;
  border-bottom: 5px solid #b941b9;
  height: 100%;
}

.logo {
  list-style: none;
}

.logo li {
  display: inline-block;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  margin-right: 40px;
  color: #b941b9;
}

.header p {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
  color: #5f0c0c;
}

.booking_slot {
  padding: 20px 0;
  background-color: rgb(185, 65, 185, 0.2);
}

.container-fluid {
  background-color: #fff;
  margin: 0 20px;
  width: auto;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0px 0px 10px 0.3px;
}

.smartest {
  border-right: 1px solid #b941b9;
  height: 80vh;
}

.smartest h2 {
  color: #b941b9;
  text-transform: capitalize;
  padding-top: 20px;
  margin-bottom: 20px;
}

.secHeading {
  color: #b941b9;
  margin-bottom: 20px;
}

.party_size .secHeading {
  padding-top: 20px;
}

.smartest p {
  color: #250525;
}

.smartest img {
  width: 80%;
  height: 180px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px 30px;
  display: inline-block;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #250525;
  font-size: 18px;
}

.other {
  padding: 5px 15px;
  font-size: 18px;

}

.active {
  background-color: #b941b9;
  color: #fff;
}

.partySize {
  width: 100%;
  border-radius: 20px;
  padding: 5px 15px;
  border: 1px solid #250525;
  font-size: 18px;
  margin-bottom: 20px;
}

/* =============================================================== */
.date {
  width: 100%;
  display: flex;
}

.month {
  display: inline-block;
  margin-bottom: 20px;
}

.weekdays {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weekdays div {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #250525;
  font-size: 18px;
  width: 60px;
  margin: 5px 2px;

}


.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.days div {
  display: inline-block;
  padding: 5px 20px;
  background-color: #fff;
  font-size: 18px;
  width: 60px;
  transition: background-color 0.2s;
  margin: 5px 2px;

}

.days div:hover:not(.today) {
  cursor: pointer;
  background-color: #b941b9;
  color: #fff;

}

.prev,
.next {
  padding: 10px 20px;
  border: 2px solid #250525;
  border-radius: 50px;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.days .today {
  background-color: #b941b9;
}